@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.App{
  background: #edf2f8;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background: white;
  width: 750px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-box-shadow: 0px 9px 13px 2px rgba(124,124,124,0.19); 
  box-shadow: 0px 9px 13px 2px rgba(124,124,124,0.19);
}

.colLeft{
  width: 35%;
  background: url(./img/drawers.jpg) center center no-repeat;
  background-size: cover;
  height: 100%;
  border-radius: 20px 0 0 20px;
}

.colRight{
  width: 65%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 25px;
  align-items: flex-start;
}

p{
  font-size: 12px;
}

.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.profile img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.profileName{
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.name{
  font-weight: bold;
}

.share{
  position: absolute;
  bottom: 50px;
  right: 50px;
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: all ease 300ms;
}

.share:hover{
  transform: scale(1.2);
}

.Rs{
  background: #475669;
  position: absolute;
  bottom: 100px;
  right: -40px;
  width: 150px;
  border-radius: 10px;
  display: flex;
  padding: 10px 30px;
  justify-content: space-around;
  color: white;
  text-transform: uppercase;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  transition: all ease 300ms;
}

.Rs p{
  font-weight: 100;
  letter-spacing: 3px;
}

.Rs img{
  cursor: pointer;
}

.active{
  opacity: 1;
  transform: scale(1);
}



.Rs::before{
  content: "";
  display : inline-block;
  height : 0;
  width : 0;
  border-top : 14px solid #475669;
  border-right : 8px solid transparent;
  border-left : 7px solid transparent;
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
}

@media (max-width : 750px) {
  .container{
    flex-direction: column;
    height: 85vh;
    width: 300px;
  }

  .colLeft{
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 40%;
  }

  .colRight{
    width: 85%;
    height: 60%;
    justify-content: space-around;
    gap: 0;
  }

  .Rs{
    bottom: 0;
    left: 0;
    width: 240px;
    right: 0;
    border-radius: 0 0 10px 10px;
  }

  .Rs::before{
    display: none;
  }
}